*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* nav start */

header{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #3A3A3A;
}

nav{
    width: 1240px;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* nav end */

/* first section start */

.first-section{
    display: grid;
    width: 1228px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
}

.first-section img{
    width: 414px;
    height: auto;
}

.first-section-details{
    width: 622px;
    height: 270px;
    display: flex;
    align-items: center;
    padding-right: 65.5px;
}

.first-section-details h1{
    font-weight: 700;
    font-size: 52px;
}

.first-section-details p{
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
}

.first-section-details button{
    background-color: #E02C6D;
    border: 2px solid #E02C6D;
    color: white;
    padding: 8px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 16px;
    cursor: pointer;
}

.first-section-details button:hover{
    background-color: white;
    color: #E02C6D;
    border: 2px solid #E02C6D;
}

.first-section-details .fas{
    padding-left: 5px;
}

.first-section-image{
    display: flex;
    justify-content: end;
    padding-left: 65.5px;
    transition: transform 5s ease 0s;
}

.first-section-image:hover{
    transform: rotate(-10deg);
}

.first-section-image img{
    background-image: url(images/Circle\ design.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

/* first section end */

.hr-line{
    margin-top: 80px;
}

hr{
    width: 1100px;
    color: #787885;
    margin: auto;
}

/* second section start */

.second-section-title{
    color: #3A3A3A;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 69px;
    margin-bottom: 59px;
}

.second-section-product{
    background-color: white;
    box-shadow: 2px 2px 40px rgb(231, 229, 229);
    width: 320px;
    height: 476px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.second-section-products{
    display: grid;
    grid-template-columns: repeat(3,320px);
    justify-content: space-around;
    grid-row-gap: 1.8em;
    width: 1047px;
    margin: auto;
}

.second-section-product h1{
    color: #18191F;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.second-section-product h2{
    color: black;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

#second-section-rating{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #5E6366;
}

.fa-star-half-alt, .fa-star{
    color: orange;
    font-size: 14px;
    margin-right: 1px;
}

.second-section-product p{
    color: #787885;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.see-more{
    color: #E02C6D;
    width: 1027px;
    display: flex;
    justify-content: end;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.see-more .fa-arrow-right{
    margin-left: 5px;
}

/* second section end */

/* third section start */

.third-section{
    margin-top: 80px;
    color: #5E6366;
    font-family: 'Poppins', sans-serif;
}

.third-section h1{
    font-size: 28px;
    text-align: center;
    color: #18191F;
    padding: 10px;
}

.third-section p{
    margin-bottom: 69px;
    text-align: center;
    color: #18191F;
    padding: 10px;
}

.third-section-category span{ 
    color: #4f5355;
    font-size: 70px;
}

.third-section-category{
    box-shadow: 2px 2px 40px rgb(231, 229, 229);
    height: 160px;
    width: 160px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.third-section-categorys{
    display: grid;
    grid-template-columns: repeat(6,150px);
    justify-content: space-around;
    grid-row-gap: 1.1em;
    width: 1070px;
    margin: auto;
}

/* third section end */

/* footer start */

footer
{
    text-align: center;
    height: 239px;
    background-color: #0a0826;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
footer h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 5px;
}
footer p
{
    color: #D9DBE1;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 5px;
}

footer .fab{
    background-color: #22203b;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

/* footer end */

/* media query small monitor start */

@media only screen and (max-width: 1380px){

    .first-section{
        width: 1037px;
    }

    .first-section-details{
        width: 522px;
    }

    hr{
        width: 1007px !important;
    }

    .second-section-products{
        width: 1037px !important;
        grid-row-gap: 1.8em;
    }

    .see-more{
        width: 1010px;
    }

    .third-section-categorys{
        width: 1037px !important;
        grid-row-gap: .8em;
    }
    }

/* media query small monitor end */

/* media query tab start */

@media only screen and (max-width: 1060px) {

    .first-section{
    width: 622px;
    grid-template-columns: repeat(1,0fr);
    justify-content: center;
    grid-row-gap: 2em;
    margin-bottom: 150px;
    }

    .first-section-details{
        order: 1;
    }

    hr{
        width: 600px !important;
    }

    .second-section-products{
        width: 660px !important;
        grid-template-columns: repeat(2,320px);
        grid-row-gap: .8em;
    }

    .see-more{
        width: 320px;
        margin-top: 500px;
    }

    .third-section{
        margin-top: 50px;
    }

    .third-section-categorys{
        width: 660px !important;
        grid-template-columns: repeat(4,150px);
        grid-row-gap: .4em;
    }
    }

/* media query tab end */

/* media query mobile start */

@media only screen and (max-width: 676px) {

    .first-section{
    width: 350px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 3em;
    margin-bottom: 150px;
    }

    .first-section img{
        width: 350px;
        height: auto;
    }

    .first-section-image{
        padding: 0;
    }

    .first-section-details{
        width: 350px !important;
        order: 1;
        padding: 0;
    }

    hr{
        width: 300px !important;
    }

    .second-section-products{
        width: 320px !important;
        grid-template-columns: repeat(1,320px);
        grid-row-gap: .8em;
    }

    .see-more{
        width: 320px;
        margin-top: 10px;
    }

    .third-section{
        margin-top: 50px;
    }

    .third-section-categorys{
        width: 335px !important;
        grid-template-columns: repeat(2,150px);
        grid-row-gap: .4em;
    }
    }

/* media query mobile end */