*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* nav start */

header{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #3A3A3A;
}

nav{
    width: 1240px;
    height: 52.2px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* nav end */

/* first section start */

.first-section{
    display: grid;
    width: 1228px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
}

.first-section img{
    width: 414px;
    height: auto;
}

.first-section-details{
    width: 622px;
    height: 270px;
    display: flex;
    align-items: center;
    padding-right: 65.5px;
}

.first-section-details h1{
    font-weight: 700;
    font-size: 52px;
}

.first-section-details p{
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
}

.first-section-details button{
    background-color: #E02C6D;
    border: 2px solid #E02C6D;
    color: white;
    padding: 8px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 16px;
    cursor: pointer;
}

.first-section-details button:hover{
    background-color: white;
    color: #E02C6D;
    border: 2px solid #E02C6D;
}

.first-section-details .fas{
    padding-left: 10px;
}

.first-section-image{
    width: 582px;
    height: 280px;
    display: flex;
    align-items: center;
    padding-left: 65.5px;
    transition: transform 5s ease 0s;
}

.first-section-image:hover{
    transform: rotate(-10deg);
}

.first-section-image img{
    background-image: url(images/Circle\ design.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

/* first section end */

/* second section start */

.second-section-title{
    color: #3A3A3A;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 69px;
    margin-bottom: 69px;
}

.second-section-product{
    background-color: white;
    box-shadow: 2px 2px 40px rgb(214, 214, 214);
    width: 320px;
    height: 476px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.second-section-products{
    display: grid;
    grid-template-columns: repeat(3,320px);
    /* grid-template-rows: repeat(3,476px); */
    justify-content: space-around;
    grid-row-gap: 1.8em;
    width: 1047px;
    margin: auto;
}

.fa-star-half-alt, .fa-star{
    color: orange;
    width: 16px;
    margin-right: 3px;
}

/* second section end */